repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: mixed-line-ending
  - repo: https://github.com/biomejs/pre-commit
    rev: v2.3.14
    hooks:
      - id: biome-check
      - id: biome-format
  - repo: local
    hooks:
      - id: tsc
        name: TypeScript type check
        entry: npm run build
        language: system
        pass_filenames: false
        files: \.[jt]sx?$
