:root {
    --font-sans: 'Open Sans', 'Noto Sans JP', sans-serif;
    --font-serif: 'Libre Baskerville', serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-sans);
}

a:hover,
a:focus {
    color: #313131;
}

h1 {
    font: 18px/24px var(--font-sans);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 span {
    border-bottom: 3px solid #11abb0;
    padding-bottom: 6px;
}

h3 {
    font: 25px/30px var(--font-sans);
    font-weight: bold;
}
