/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

.header {
  position: relative;
  height: 100vh;
  min-height: 500px;
  width: 100%;
  background: #161415 url(/images/header-background.jpg) no-repeat top center;
  background-size: cover;
  -webkit-background-size: cover;
  text-align: center;
  overflow: hidden;
}

/* vertically center banner section */
.header:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.banner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 30px;
  text-align: center;
}

.banner-text {
  width: 100%;
}

.banner-text h1 {
  font: 90px / 1.1em var(--font-sans);
  font-weight: bold;
  color: #fff;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

.banner-text h3 {
  font: 18px / 1.9em var(--font-serif);
  color: #a8a8a8;
  margin: 0 auto;
  width: 70%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.banner-text h3 span,
.banner-text h3 a {
  color: #fff;
}

.banner-text hr {
  width: 60%;
  margin: 18px auto 24px auto;
  border-color: #2f2d2e;
  border-color: rgba(150, 150, 150, 0.1);
}

/* header social links */
.social {
  margin: 24px 0;
  padding: 0;
  font-size: 30px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}

.social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}

.social li a {
  color: #fff;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.8));
}

.social li a:hover {
  color: #11abb0;
}

/* scrolldown link */
.scrolldown a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -29px;
  color: #fff;
  display: block;
  font-size: 6rem;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.8));
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.scrolldown a:hover {
  color: #11abb0;
}

/* primary navigation --------------------------------------------------------------------- */

/* nav-wrap */
.nav-wrap {
  font: 12px var(--font-sans);
  font-weight: bold;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}

.nav-wrap ul,
.nav-wrap li,
.nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.opaque {
  background-color: #333;
}

/* hide toggle button */
.mobile-btn {
  display: none;
}

.nav {
  min-height: 48px;
  width: auto;
  text-align: center;
}

.nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
}

.nav li a {
  /* 8px padding top + 8px padding bottom + 32px line-height = 48px */
  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: #fff;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.nav li a:active {
  background-color: transparent;
}
