/* Global responsive styles required by currently rendered sections. */

@media only screen and (max-width: 900px) {
  #nav-wrap {
    font: 11px var(--font-sans);
    letter-spacing: 1.5px;
  }

  #resume h1 {
    font: 16px / 24px var(--font-sans);
    font-weight: 700;
    margin-bottom: 1.5em;
  }
}

@media only screen and (max-width: 767px) {
  #nav-wrap {
    font: 12px var(--font-sans);
    background: transparent;
    letter-spacing: 1.5px;
    width: auto;
    position: fixed;
    top: 0;
    right: 0;
  }

  #nav-wrap > a {
    width: 48px;
    height: 48px;
    text-align: left;
    background-color: #cc5200;
    position: relative;
    border: none;
    float: right;
    font-size: 0;
    line-height: 0;
    text-shadow: none;
    color: transparent;
    top: 0;
    right: 30px;
  }

  #nav-wrap > a:before,
  #nav-wrap > a:after {
    position: absolute;
    border: 2px solid #fff;
    top: 35%;
    left: 25%;
    right: 25%;
    content: "";
  }

  #nav-wrap > a:after {
    top: 60%;
  }

  #nav-wrap:not(:target) > a:first-of-type,
  #nav-wrap:target > a:last-of-type {
    display: block;
  }

  #nav-wrap ul#nav {
    height: auto;
    display: none;
    clear: both;
    width: auto;
    float: right;
    position: relative;
    top: 12px;
    right: 0;
  }

  #nav-wrap:target > ul#nav {
    display: block;
    padding: 30px 20px 48px;
    background: #1f2024;
    margin: 0 30px;
    clear: both;
  }

  ul#nav li {
    display: block;
    height: auto;
    margin: 0 auto;
    padding: 0 4%;
    text-align: left;
    border-bottom: 1px dotted #2d2e34;
  }

  ul#nav li a {
    display: block;
    margin: 12px 0;
    padding: 0;
    line-height: 16px;
    border: none;
  }

  #resume h1 {
    letter-spacing: 3px;
  }

  #portfolio-wrapper .columns {
    margin-bottom: 40px;
  }

  footer .copyright li:before {
    content: none;
  }

  footer .copyright li {
    margin-right: 12px;
  }

  footer .social-links {
    font-size: 22px;
  }

  footer .social-links li {
    margin-left: 18px;
  }

  #go-top {
    margin-left: -22px;
  }

  #go-top a {
    width: 54px;
    height: 54px;
    font-size: 18px;
    line-height: 1;
  }
}

@media only screen and (max-width: 480px) {
  #nav-wrap ul#nav {
    width: auto;
    float: none;
  }

  footer .social-links {
    font-size: 20px;
  }

  footer .social-links li {
    margin-left: 14px;
  }
}
