/* Global responsive styles required by currently rendered sections. */

@media only screen and (max-width: 900px) {
  #resume h1 {
    font: 16px / 24px var(--font-sans);
    font-weight: 700;
    margin-bottom: 1.5em;
  }
}

@media only screen and (max-width: 767px) {
  #portfolio-wrapper .columns {
    margin-bottom: 40px;
  }

  footer .copyright li:before {
    content: none;
  }

  footer .copyright li {
    margin-right: 12px;
  }

  footer .social-links {
    font-size: 22px;
  }

  footer .social-links li {
    margin-left: 18px;
  }

  #go-top {
    margin-left: -22px;
  }

  #go-top a {
    width: 54px;
    height: 54px;
    font-size: 18px;
    line-height: 1;
  }
}

@media only screen and (max-width: 480px) {
  footer .social-links {
    font-size: 20px;
  }

  footer .social-links li {
    margin-left: 14px;
  }
}
