/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

.resume {
  background: #fff;
  padding-top: 90px;
  padding-bottom: 72px;
  overflow: hidden;
}

.h3 {
  font: 25px / 30px var(--font-sans);
  font-weight: bold;
  text-align: left;
}

.header-col {
  padding-top: 9px;
}

.main-col {
  padding-right: 10%;
}

.education,
.publication,
.experience {
  margin-bottom: 48px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e8e8e8;
}

.honors {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.education .info {
  font: 16px / 24px var(--font-serif);
  font-style: italic;
  color: #6e7881;
  margin-bottom: 18px;
  margin-top: 9px;
}

.info span {
  margin-right: 5px;
  margin-left: 5px;
}

.date {
  font: 15px / 24px var(--font-sans);
  margin-top: 6px;
}

.publication h3 {
  font: 25px / 30px var(--font-sans);
  font-weight: 700;
}

.publication p {
  line-height: 1.5em;
}

.experience h4 {
  font: 20px var(--font-sans);
  font-weight: 400;
}

.experience h3 {
  text-transform: capitalize;
}

.awardIcon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
  margin-right: 0.5rem;
}
