/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

.resume {
  background: #fff;
  padding-top: 90px;
  padding-bottom: 72px;
  overflow: hidden;
}

.h3 {
  font-family: var(--font-sans);
  font-size: 25px;
  font-weight: bold;
  text-align: left;
}

.main-col {
  padding-right: 10%;
}

.education,
.publication,
.experience {
  margin-bottom: 48px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e8e8e8;
}

.honors {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.info span {
  margin-right: 2px;
  margin-left: 2px;
}

.degree {
  font-family: var(--font-serif);
  font-size: 16px;
  font-style: italic;
  color: #6e7881;
  margin-bottom: 18px;
  margin-top: 9px;
}

.date {
  font-family: var(--font-sans);
  font-size: 15px;
  margin-top: 6px;
}

.publication h3 {
  font-family: var(--font-sans);
  font-size: 25px;
  font-weight: 700;
}

.publication p {
  line-height: 1.7;
}

.experience h4 {
  font: 20px var(--font-sans);
  font-weight: 400;
}

.experience h3 {
  text-transform: capitalize;
}

.awardIcon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 767px) {
  .header-col {
    max-width: 38rem;
    margin: 0 auto 1.2rem;
  }

  .main-col {
    max-width: 38rem;
    margin: 0 auto;
    padding-right: 0;
  }

  .itemRow {
    max-width: none;
    margin: 0;
    padding: 0;
  }

  .h3 {
    font-size: 2rem;
  }

  .publication h3 {
    font-size: 2rem;
  }

  .experience h4 {
    font-size: 1.7rem;
  }
}
