/*html,*/
/*body {*/
/*  padding: 0;*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
/*    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
/*}*/

.font-root {
    --font-sans: var(--font-open-sans), var(--font-noto-sans-jp), sans-serif;
    --font-serif: var(--font-libre-baskerville), serif;
    font-family: var(--font-sans);
}


html {
    scroll-behavior: smooth;
}

a:hover,
a:focus {
    color: #313131;
}

h1 {
    font: 18px/24px var(--font-sans);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 span {
    border-bottom: 3px solid #11abb0;
    padding-bottom: 6px;
}

h3 {
    font: 25px/30px var(--font-sans);
    font-weight: bold;
}
