/*html,*/
/*body {*/
/*  padding: 0;*/
/*  margin: 0;*/
/*  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
/*    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
/*}*/


html {
    scroll-behavior: smooth;
}

a,
a:visited {
    color: #11abb0;
}

a:hover,
a:focus {
    color: #313131;
}

h1 {
    font: 18px/24px "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 span {
    border-bottom: 3px solid #11abb0;
    padding-bottom: 6px;
}

h3 {
    font: 25px/30px "Open Sans", sans-serif;
    font-weight: bold;
}
