/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

.header {
    position: relative;
    height: 100vh;
    min-height: 500px;
    width: 100%;
    background: #161415 url(../public/images/header-background.jpg) no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;

    /* vertically center banner section */
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
}

.banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 30px;
    text-align: center;
}

.banner-text {
    width: 100%;

    h1 {
        font: 90px/1.1em 'Open Sans', sans-serif;
        font-weight: bold;
        color: #fff;
        letter-spacing: -2px;
        margin: 0 auto 18px auto;
        text-shadow: 0 1px 3px rgba(0, 0, 0, .8);
    }

    h3 {
        font: 18px/1.9em 'Libre Baskerville', serif;
        color: #A8A8A8;
        margin: 0 auto;
        width: 70%;
        text-shadow: 0 1px 2px rgba(0, 0, 0, .5);

        span, a {
            color: #fff;
        }
    }

    hr {
        width: 60%;
        margin: 18px auto 24px auto;
        border-color: #2F2D2E;
        border-color: rgba(150, 150, 150, .1);
    }
}

/* header social links */
.social {
    margin: 24px 0;
    padding: 0;
    font-size: 30px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .8);

    li {
        display: inline-block;
        margin: 0 15px;
        padding: 0;

        a {
            color: #fff;
            text-shadow: 0 1px 5px rgba(0, 0, 0, .8);
            filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .8));

            &:hover {
                color: #11ABB0;

            }
        }
    }
}

/* scrolldown link */
.scrolldown a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -29px;
    color: #fff;
    display: block;
    //height: 10rem;
    //width: 50%;
    font-size: 6rem;
    //line-height: 42px;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .8));

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    &:hover {
        color: #11ABB0;
    }
}


/* primary navigation --------------------------------------------------------------------- */

/* nav-wrap */
.nav-wrap {
    font: 12px 'Open Sans', sans-serif;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;

    ul, li, a {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
    }
}

.opaque {
    background-color: #333;
}

/* hide toggle button */
.mobile-btn {
    display: none;
}

.nav {
    min-height: 48px;
    width: auto;

    /* center align the menu */
    text-align: center;

    li {
        position: relative;
        list-style: none;
        height: 48px;
        display: inline-block;

        a {
            /* 8px padding top + 8px padding bottom + 32px line-height = 48px */

            display: inline-block;
            padding: 8px 13px;
            line-height: 32px;
            text-decoration: none;
            text-align: left;
            color: #fff;

            -webkit-transition: color .2s ease-in-out;
            -moz-transition: color .2s ease-in-out;
            -o-transition: color .2s ease-in-out;
            -ms-transition: color .2s ease-in-out;
            transition: color .2s ease-in-out;

            &:active {
                background-color: transparent !important;

            }
        }

        .current a {
            color: #F06000;

        }
    }
}
