/* copied from public/css/layout.css */

/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

.resume {
    background: #fff;
    padding-top: 90px;
    padding-bottom: 72px;
    overflow: hidden;
}

/*a,*/
/*a:visited {*/
/*    color: #11abb0;*/
/*}*/

/*a:hover,*/
/*a:focus {*/
/*    color: #313131;*/
/*}*/

/*h1 {*/
/*    font: 18px/24px "opensans-bold", sans-serif;*/
/*    text-transform: uppercase;*/
/*    letter-spacing: 1px;*/
/*}*/

/*h1 span {*/
/*    border-bottom: 3px solid #11abb0;*/
/*    padding-bottom: 6px;*/
/*}*/

.h3 {
    font: 25px/30px "Open Sans", sans-serif;
    font-weight: bold;
}

.header-col {
    padding-top: 9px;
}

.main-col {
    padding-right: 10%;
}

.education, .work, .publication, .experience {
    margin-bottom: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e8e8e8;
}

.education .info {
    font: 16px/24px "librebaskerville-italic", serif;
    color: #6e7881;
    margin-bottom: 18px;
    margin-top: 9px;
}

.info span {
    margin-right: 5px;
    margin-left: 5px;
}

.date {
    font: 15px/24px "Open Sans", sans-serif;
    margin-top: 6px;
}

.publication h3 {
    font: 25px/30px "Open Sans", "Noto Sans JP", sans-serif;
    font-weight: 700;
}

.publication .p #span {
    white-space: nowrap;
}

.experience h4 {
    font: 20px "opensans", "Noto Sans JP", sans-serif;
    font-weight: 400;
}

/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/

.bars {
    width: 95%;
    float: left;
    padding: 0;
    text-align: left;
}

.bars .skills {
    margin-top: 36px;
    list-style: none;
}

.bars li {
    position: relative;
    margin-bottom: 60px;
    background: #ccc;
    height: 42px;
    border-radius: 3px;
}

.bars li em {
    font: 15px "opensans-bold", sans-serif;
    color: #313131;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    position: relative;
    top: -36px;
}

.bar-expand {
    position: absolute;
    left: 0;
    top: 0;

    margin: 0;
    padding-right: 24px;
    background: #313131;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    border-radius: 3px 0 0 3px;
}

/*
 .git {
       -moz-animation: git 2s ease;
       -webkit-animation: git 2s ease;
 }
 .illustrator {
       -moz-animation: illustrator 2s ease;
       -webkit-animation: illustrator 2s ease;
 }
 .reactjs {
       -moz-animation: reactjs 2s ease;
       -webkit-animation: reactjs 2s ease;
 }
 .css {
       -moz-animation: css 2s ease;
       -webkit-animation: css 2s ease;
 }
 .html5 {
       -moz-animation: html5 2s ease;
       -webkit-animation: html5 2s ease;
 }
 .vuejs {
       -moz-animation: vuejs 2s ease;
       -webkit-animation: vuejs 2s ease;
 }
 .mongodb {
       -moz-animation: mongodb 2s ease;
       -webkit-animation: mongodb 2s ease;
 }
 
 @-moz-keyframes git {
   0%   { width: 0px;  }
   100% { width: 60%;  }
 }
 @-moz-keyframes illustrator {
   0%   { width: 0px;  }
   100% { width: 55%;  }
 }
 @-moz-keyframes reactjs {
   0%   { width: 0px;  }
   100% { width: 50%;  }
 }
 @-moz-keyframes css {
   0%   { width: 0px;  }
   100% { width: 90%;  }
 }
 @-moz-keyframes html5 {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-moz-keyframes vuejs {
   0%   { width: 0px;  }
   100% { width: 50%;  }
 }
 @-moz-keyframes mongodb {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 
 @-webkit-keyframes photoshop {
   0%   { width: 0px;  }
   100% { width: 60%;  }
 }
 @-webkit-keyframes illustrator {
   0%   { width: 0px;  }
   100% { width: 55%;  }
 }
 @-webkit-keyframes reactjs {
   0%   { width: 0px;  }
   100% { width: 50%;  }
 }
 @-webkit-keyframes css {
   0%   { width: 0px;  }
   100% { width: 90%;  }
 }
 @-webkit-keyframes html5 {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }
 @-webkit-keyframes vuejs {
   0%   { width: 0px;  }
   100% { width: 50%;  }
 }
 @-webkit-keyframes mongodb {
   0%   { width: 0px;  }
   100% { width: 80%;  }
 }  */
